<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                background-color: #A32E7F;
                color: #F8F8F8;
                font-size: 18px;
                text-indent: 15px;
            }
        </style>
        <title>File taster</title>
    </head>
    <body>
        <h1>File Taster Results</h1>
        <p>File Name: <%= name %></p>
        <p>File Description: <%= type %></p>
        <p>Size: <%= size %> MB</p>
        <hr />
        <p><a href="/">Return to home page.</a></p>
    </body>
</html>